body {
  background-color: white;
  color: white;
  font-family: Verdana;
}

p, h1, h2 {
  text-align: center;
  color: white;
}

a {
  color: LimeGreen;
}

img {
transition: all 200ms;
}

img:hover {
transform: scale(1.02)
}
